{
    margin:0;
    padding:0;
}
.dateBox {
    width:160px;
    height:auto;
    border:1px solid blue;
}
/* jQuery UI Datepicker Styles */

/* states and images */
 .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
/* Overlays */
 .ui-widget-overlay {
    position:relative;
    width: 100%;
    height: 100%;
}
.ui-datepicker {
    position:relative;
    width: 170px;
    height:auto;
    padding: 0;
    display: none;
    margin:20px 0 0 23px;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background:#f8f8f8;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 5px;
    width: 1.1em;
    height: .90em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
    top:7px;
    background: url(../img/datepickerArrow.png) top no-repeat;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
    background: url(../img/datepickerArrow.png) bottom no-repeat;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-size:0.70em;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .6em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
/* Component containers
----------------------------------*/
 .ui-widget {
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 5em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 1em;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    color: #999999;
    /* Days Letter Color */
}
.ui-widget-content a {
    color: yellow;
}
.ui-widget-header {
    border-bottom: 1px solid #c5c5c5;
    color: #212020;
    font-weight: bold;
}
.ui-widget-header a {
    color: #ffffff;
}
/* Interaction states
----------------------------------*/
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6;
    color: #300808;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #999999;
    text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #1ca3f4;
    color: #fff;
    text-align:center;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #c77405;
    text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    color: white;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #eb8f00;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-prev:hover {
    background: transparent url(../img/datepickerArrow.png) top no-repeat;
}
.ui-datepicker .ui-datepicker-next {
    background: transparent url(../img/datepickerArrow.png) bottom no-repeat;
}