*{margin:0; padding:0;}
a:hover{text-decoration:none;}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body{font-family: 'Roboto', sans-serif; font-size:14px;font-weight: 500;}
.btn{border:none;font-size:14px;padding-top:7px;padding-bottom:7px;}
button:focus {outline: none;box-shadow: none;}
.btn.focus, .btn:focus{box-shadow:none;}
.btn.btn-primary{background:#ca1f26;}
.btn.btn-primary:hover{background: #c70a12;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active:focus{border:none;background: #c70a12;box-shadow:none;}
.login {position: fixed;top: 0;background:url("../images/starter_bg.jpg") no-repeat center top;right: 0;left: 0;bottom: 0; background-size:100% 100%;}
.login_panel { background: #fff; border-radius: 3px; width: 100%;max-width: 600px; margin: 100px auto; overflow: hidden;}
.login_logo {text-align: center;padding: 25px 0; background: #e7e7e7;}
.login_form { padding: 25px;}
.login_form h2{font-size:29px; color:#172127; text-align:center; margin-bottom:40px;}
.login_form .form-group{position:relative;}
.login_form input.form-control {border: none;border-bottom: 1px solid #ddd;border-radius: inherit;padding-left: 0;background: #fff;}
.login_form input:focus{outline:none; border:none;border-bottom: 1px solid #ddd;box-shadow:none;}
.login_user{background:url("../images/login_user_icon.png") no-repeat right top;}
.login_password{background:url("../images/login_pass_icon.png") no-repeat right top;}
.login_form i {width: 30px;height: 30px;position: absolute;right:0; top:0;}
.login_form .btn {font-size: 17px;text-transform: uppercase;font-weight: 500;}

/*===========================*/
#header {height:61px;overflow: hidden;position: fixed;left: 0;right:0;top:0;width:100%;display: -webkit-box;display:-ms-flexbox;display: block;background-color:#ca1f26;z-index:1030;padding-right: 15px;}
#sidebar {position: fixed;top: 0;bottom: 0;left: 0;padding-top: 100px;width: 230px;overflow: auto;z-index: 10;background-color:#23242d;-webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);-webkit-transition: left 0.3s ease,width 0.3s ease;-o-transition: left 0.3s ease, width 0.3s ease;transition: left 0.3s ease, width 0.3s ease;}
#wrapper{min-height: calc(100vh - 62px);margin-top: 62px;padding:15px 20px 45px;-webkit-transition: margin-left 0.3s ease;-o-transition: margin-left 0.3s ease;transition: margin-left 0.3s ease;}
.logo {float: left;width: 230px; background: #fff;padding:16px 11px;}
.header_actions {float: right;}
.header_actions ul li {display: inline-block;}
#sidebar ul li{border-bottom:1px solid #32323d;}
#sidebar ul li:last-child{border-bottom:none;}
#sidebar ul li a{color:#a7a7ab;padding:10px 15px;display:block;}
#sidebar ul li a:hover, #sidebar ul li.active a{color:#fff;}
#sidebar li i {margin-right: 20px;width: 28px;text-align: center;}
.app-sidebar__toggle {padding: 0 15px;color: #fff;line-height: 57px;-webkit-transition: background-color 0.3s ease;-o-transition: background-color 0.3s ease;transition: background-color 0.3s ease;float:left;
width: 47px;height: 60px;}
.header_search {float: left;margin: 13px;}
.search_box input {background:none;border:none;border-bottom:1px solid #fff;padding-bottom:6px;color:#fff;}
.search_box input::placeholder{color: #fff;}
.search_box input:focus{border-bottom:1px solid #fff;outline:none; box-shadow: none;}
.header_actions ul li a{padding:16px 15px;display: block;box-shadow: 0 0 8px #c41e25;}
.page_title h1 {font-size: 21px;}
.breadcum {float: right;}
.breadcum ul li{display: inline-block;padding: 0 6px;}
.breadcum ul li{display:inline-block;}
.breadcum ul li a{color: #ca1f26;}
.page_title {border-bottom: 1px solid #cbcbcb;}
.add_btn {padding: 15px 0;}
.footer {position: fixed;bottom: 0; padding:10px 0; width: 100%;background: #23242d;
    z-index: 99;text-align: center;}
.footer p{color:#a7a7ab; font-size:13px; margin:0; padding:0;}
.switch {position: relative;display: inline-block;width: 40px;height: 20px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top:0;left:0;right:0;bottom:0;
  background-color: #ccc;-webkit-transition:.4s;transition: .4s;}
.slider:before {position: absolute;content: "";height:16px;width: 16px;left:2.7px;
bottom:2px;background-color: white;-webkit-transition:.4s;transition: .4s;}
input:checked + .slider{background-color:#ca1f26;}
input:focus + .slider{box-shadow:none;}
input:checked + .slider:before{-webkit-transform: translateX(19px);-ms-transform: translateX(19px);transform:translateX(19px);}
.slider.round {border-radius:34px;}
.slider.round:before{border-radius:50%;}
table td i{vertical-align:top;margin:0 5px;font-size: 19px !important;}
table td a, table td a:hover {color:#ca1f26;}
.modal-header{background: #ca1f26;color: #fff;padding: 13px 15px;}
.modal-content{border:1px solid #ca1f26;}
.modal-title{text-transform:capitalize;margin-bottom:0;font-size:18px;line-height: normal;}
.modal button.close {background: #fff;
width:22px;height:22px;padding:0;opacity:inherit;margin:0;line-height:17px;border-radius: 50%;
font-size: inherit;color: #ca1f26;position: absolute;right: -7px;
top: -8px;border: 1px solid #ca1f26;}
.form-control{background:#e9e9e9; font-size:15px;}
.form-control::placeholder{color:#c1c1c1;}
.modal-content .btn{text-transform:uppercase;}
.table th {border-bottom:1px solid #dee2e6;background: #f4f4f4;font-size:13px;}
.table td, .table td input, .table td select{font-size:13px;}
.table td, .table th{vertical-align:middle;}
.add_heading_text {font-size: 17px; padding: 10px 0;}
.btn-default {background: #ddd;color: #333;}
.btn-default:hover{background#dadada;color: #333;}
#back_submit_buttons{padding:10px 0 20px;}
#back_submit_buttons a {width: 130px;margin-left: 5px;}
.pagination .page-link{border:none;margin:0;font-size:12px;color:#6c757d;padding:5px 8px 3px;}
.pagination .page-item.active .page-link, .pagination li.active:hover span, .pagination .page-link:hover {background: #ca1f26;color: #fff;border-radius: 50%;}
.pagination .page-link:hover{background:none;color:#ca1f26;}
.page-link:focus{box-shadow: none;}
.Records_Page{font-size:12px;}
.dashboard_boxes li {padding: 18px 11px;display: block;float: left;margin-right:1.2%;width: 24%;border: 1px solid #333;border-radius:3px; background:url("../images/dashboard_li_bg.png") no-repeat left top;background-size:100% 100%;margin-bottom:15px;}
.dashboard_boxes li:last-child{margin-right:0;}
.Circle {width: 50px; height: 50px;border-radius: 50%;display: inline-block;text-align: center;padding-top: 12px;}
.pink {background: #e51c8d;}
.light_blue{background: #2e9de3;}
.red{background: #e8001b;}
.green{background:#1cbf8b;}
.blue{background:#192c7e;}
.Dashboard_Box_Text {display: inline-block; vertical-align: top;margin-left: 3px;}
.Dashboard_Box_Text strong {
  font-size: 20px;
  display: block;
  line-height: 30px;
}
.Dashboard_Box_Text span {
  font-size: 13px;
  color: #111111;
  text-transform: uppercase;
}

.dashboard_boxes img {
  width: 20px;
  height: auto;
}

.Graph_section {margin: 5px 0 0;}
.Graph {border:1px solid #ccc;padding: 15px;min-height: 428px; text-align:center;margin-bottom: 15px;}
.Graph h3, .latest_order_list h3{font-size:20px; color:#23242d;text-align:left;}

/*.fileUpload{position: relative;overflow: hidden;margin:10px;}
.fileUpload input.upload{position:absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
.fileUpload.btn.btn-primary.fileChoose1{border-radius: 0;margin: 0 0 0 -4px;padding: 7px 14px;position: absolute;right: 0;top: 0;border-radius: 0 4px 4px 0;}*/
.fileMAin {position:relative;}
ul.nav.nav-tabs {margin-top: 15px;}
ul.nav.nav-tabs a{color:#23242d;}
ul.nav.nav-tabs a.nav-link.active{color:#ca1f26;}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /*position: absolute;
  left: -9999px;*/
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size:15px;
  line-height: 0.8;
  color: #ca1f26;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
#Order_confirmation {
    margin-top: 15px;
}

#Order_confirmation td a .fa.fa-check {color:#06bc0e;}
.btns_panel a {min-width: 130px;}
.table_labels li {display: inline-block;margin-right: 15px;}
.table_labels span {border: 1px solid #ccc;width: 22px; height: 22px;border-radius: 4px;    display: inline-block;text-align: center;}
.table_labels span i{color: #ca1f26;}
.table_labels span .fa.fa-check {color:#06bc0e;}
.table_labels span .fa.fa-info{color:#1e1f26;}
.tooltip {font-size: 12px;}

input:-webkit-autofill {background: none !important;-webkit-box-shadow: 0 0 0px 1000px white inset !important;box-shadow: 0 0 0px 1000px white inset !important;}



@media (min-width: 768px)
{
#wrapper {margin-left: 230px;}
.main_wrapper.active #wrapper{margin-left: 0;}
.main_wrapper.active #sidebar{width:0;}
}


@media (max-width: 768px)
{
#sidebar{width:0;}
.main_wrapper.active #sidebar{width:230px;}
}

/************************/
label#orderexcelFile-error {
    position: absolute;
    top:65px;
    z-index: 9;
    color: red;
    left: 19px;
    font-size:13px;
    text-transform: initial;
}
#order_upload_excel .form-group.has-error {
    margin-bottom: 33px;
}
.username{
    color: #fff;
}
.fileerror{
    color: #ca1f26;
}

.error{
	color: #ca1f26;
}

.disabled:hover {
    cursor:not-allowed
 }

#pro_modal a.addon {
    position: absolute;
    right: -18px;
    top: 39px;
}

.add-supplier-to-product {
    margin-top: 28px;
    font-size: 38px;
}

.delete-supplier-to-product {
    margin-top: 28px;
    font-size: 38px;
}

#datep {
    display: none;
}

.ui-datepicker-calendar tbody td > a.hover-calendar-cell {
    border: 1px solid #074e91;
    background: #5bacf7 url(images/ui-bg_glass_15_5bacf7_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #1a1a1a;
}

.hiddencheckbox{
  display: none;
}

.unselectable{
     background-color: #ddd;
     pointer-events: none;
     cursor: not-allowed;
}




#dashboard-filter {

    float: left;
    width: 100%;
    padding: 25px 0 10px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 15px;

}

/* Loader Css */
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/Preloader_3.gif) center no-repeat rgba(176, 104, 168, 0.6588235294117647);}
.w100{min-width: 100px;}
.w120{min-width: 120px;}
.w130{min-width: 130px;}
.w90{min-width: 90px;}
.Filter_panel {

    border-bottom:1px solid #cbcbcb;
    margin-top: 15px;
    margin-bottom: 15px;
}
.filter_btn {
  display: inline-block;
}
.header_actions ul li a.btn {
    padding: 7px 15px;
    margin-right: 15px;
}
.shipping_rates label{display: block;}
.listing_detail_box {padding: 15px 0;}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.listing_detail_box label{word-break: break-all;}
.addremovediv {
    padding: 0;
}
.addremovediv .btn.btn-primary {
    padding: 10px 11px;
    font-size: 11px;
}